.container {
  background-image: url("/banner.webp");
  height: 500px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h1 {
    font-size: 40px;
    color: var(--white);
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-align: center;
  }
}
