:root {
  --black: hsla(0, 0%, 7%, 1);
  --black-transparent: hsla(0, 0%, 7%, .8);
  --light-black: hsla(0, 0%, 12%, 1);
  --grey: hsla(0, 0%, 50%, 1);
  --light-grey: hsla(0, 0%, 50%, .2);
  --white: hsla(0, 0%, 96%, 1);
  --blue: hsla(192, 91%, 14%, 1);
  --light-blue: hsla(193, 91%, 22%, 1);
  --magenta: hsla(325, 99%, 45%, 1);
}