.container {
  position: relative;
  max-width: min(1000px, calc(100vw - 4rem));
  margin: 2em auto;
  background-color: var(--super-light-grey);
  padding: 2em 2em 4em 2em;
  box-shadow: 0 0 2px var(--blue);
}

.header {
  width: max-content;
  color: var(--blue);
  font-size: 30px;
  margin-top: 0;

  &:after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--light-blue);
  }
}

.content {

}

.link {
  position: absolute !important;
  right: 2em;
  bottom: 2em;
}